.container{
  background-color: #1f232c;
}

.navLabels{
  color: #e6f0ff;
  padding: 10px;
}

.navLabels:hover{
  color: #fc5c65;
}

.imageContainer{
  width: 100px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}